
sync_mac_to_server.sh
sync_server_to_mac.sh
copy_log_to_run.sh

logs/
output/h1/humanoid_smpl/.hydra/
legged_gym/output/h1/humanoid_smpl/.hydra/
notebooks/
output/
legged_gym/output/
*.out
data/

*.egg-info/
__pycache__/
venv/
__pycache__/*
*/__pycache__/

*.__pycache__
*.pyc


*.pkl
.hydra/
